<div class="jumbotron">
  <h2>MEAN Posts</h2>
  <p>Small web application for creating posts</p>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Angular 10</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sequi sapiente temporibus maiores perspiciatis quasi obcaecati tempora, quisquam nesciunt dolorum! Voluptates, id nostrum et suscipit exercitationem cupiditate illum sint unde molestias aliquid. Iure nisi, dicta error exercitationem hic fugit et doloribus vitae nemo quidem expedita voluptatem tempora placeat? Error, earum.</p>
  </div>
  <div class="col-md-4">
    <h3>Node.js & Express.js</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nihil reprehenderit officiis ab expedita quisquam fugit eveniet vero corporis dolores ullam quam dolorum unde qui adipisci, ut repudiandae pariatur voluptates perferendis eum explicabo. Recusandae cum illum laborum minima, ullam porro. Earum ipsum est dolorem temporibus voluptatibus inventore beatae nostrum magnam.</p>
  </div>
  <div class="col-md-4">
    <h3>MongoDB</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At explicabo iure dolorem quam accusantium saepe officia nulla officiis quibusdam maxime adipisci ab ratione illo nam, deleniti exercitationem nostrum, dolorum dignissimos vitae. Nam id similique vero! Perspiciatis iste neque, cumque deleniti facere expedita. Quod, tempora minima? Fuga amet obcaecati deserunt quia.</p>
  </div>
</div>