<div class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a routerLink="/" class="navbar-brand">MEAN posts</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"><i class="fa fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about"
            ><i class="fa fa-book"></i> About</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="this.authService.isAuthenticated()" class="nav-item">
          <a routerLink="/profile" class="nav-link"
            ><i class="fa fa-user"></i> Welcome
            {{ this.authService.getCurrentUser().username }} (PROFILE)</a
          >
        </li>
        <li *ngIf="!this.authService.isAuthenticated()" class="nav-item">
          <a routerLink="/register" class="nav-link"
            ><i class="fas fa-user-plus"></i> Register</a
          >
        </li>
        <li *ngIf="!this.authService.isAuthenticated()" class="nav-item">
          <a routerLink="/login" class="nav-link"
            ><i class="fa fa-sign-in-alt"></i> Login</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/posts" class="nav-link"
            ><i class="fa fa-newspaper"></i> Latest posts</a
          >
        </li>
        <li *ngIf="this.authService.isAuthenticated()" class="nav-item">
          <a routerLink="/dashboard" class="nav-link"
            ><i class="fa fa-cog"></i> Dashboard</a
          >
        </li>
        <li *ngIf="this.authService.isAuthenticated()" class="nav-item">
          <a (click)="onLogoutClick()" href="#" class="nav-link"
            ><i class="fa fa-sign-out-alt"></i> Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
