<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body bg-light">
      <h3><i class="fas fa-user-plus"></i> Register a new user</h3>
      <p>Create an account to start posting!</p>
      <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input
            type="text"
            name="username"
            id="username"
            [(ngModel)]="user.username"
            #name="ngModel"
            placeholder="Username"
            class="form-control"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
          </div>
          <input
            type="email"
            name="email"
            id="email"
            [(ngModel)]="user.email"
            #name="ngModel"
            placeholder="Email"
            class="form-control"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
          </div>
          <input
            type="password"
            name="password"
            id="password"
            [(ngModel)]="user.password"
            #password="ngModel"
            placeholder="Password"
            class="form-control"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
          </div>
          <input
            type="password"
            name="passwordConfirmation"
            id="passwordConfirmation"
            [(ngModel)]="passwordConfirmation"
            #password="ngModel"
            placeholder="Confirm password"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-success btn-block">
          <i class="fas fa-user-plus"></i> Register
        </button>
      </form>
    </div>
  </div>
</div>
