<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body bg-light">
      <h3><i class="fa fa-sign-in-alt"></i> Login</h3>
      <p>Enter your credentials to login</p>
      <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input
            type="text"
            name="username"
            id="username"
            [(ngModel)]="user.username"
            #name="ngModel"
            placeholder="Username"
            class="form-control"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
          </div>
          <input
            type="password"
            name="password"
            id="password"
            [(ngModel)]="user.password"
            #password="ngModel"
            placeholder="Your password..."
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          <i class="fa fa-sign-in-alt"></i> Login
        </button>
      </form>
    </div>
  </div>
</div>
