<h3><i class="fa fa-plus"></i> Add a new post</h3>
<form (ngSubmit)="onSubmit()" #postForm="ngForm">
  <div class="form-group">
    <label for="title">Post title:</label>
    <input
      type="text"
      name="title"
      id="title"
      [(ngModel)]="post.title"
      #title="ngModel"
      placeholder="Post title..."
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="body">Post Body:</label>
    <textarea
      name="body"
      id="body"
      cols="30"
      rows="10"
      [(ngModel)]="post.body"
      #description="ngModel"
      class="form-control"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-success btn-block mb-4">
    <i class="fa fa-plus"></i> Create post
  </button>
</form>
